/* .chat-bot {
    background-color: blue;
    position: fixed;
    right: 2%;
    border-radius: 50%;
    padding: 15px;
    top: 91%;
    transform: translateY(-50%);
    z-index: 10000;
    cursor: pointer;
  } */
  
 