/* Education Page */
.educationPage {
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 70px;
}

.program {
    width: 30%;
    margin: auto;
    box-sizing: border-box;
    padding: 7px;
    margin-bottom: 30px;
    border: 2px solid orangered;
    border-radius: 5px;
    height: 200px;
    overflow: hidden;
}

.program>* {
    /* color: aqua; */
    margin: 5px;
}

.program>h2 {
    color: orangered;

}

.program>p {
    font-size: 20px;
    margin-top: 10px;
}


@media only screen and (max-width:376px) {

    .educationPage {
        flex-direction: column;
        top: 140px;
    }

    .program {
        width: 96%;
        margin: auto;
        margin-top: 20px;

    }

    .program>h2 {
        font-size: 18px;

    }

    .program>p {
        font-size: 17px;
    }


}

@media only screen and (min-width:377px) and (max-width:766px) {
    .educationPage {
        flex-direction: column;
        top: 50px;

    }

    .program {
        width: 96%;
        margin: auto;
        margin-top: 20px;

    }

    .program>h2 {
        font-size: 19px;

    }

    .program>p {
        font-size: 18px;
    }
}

@media only screen and (min-width:767px) and (max-width:1023px) {


    .program {
        width: 45%;
        margin-top: 20px;
        

    }
}