/* line section */
.line {
    background-color: orangered;
    width: 98%;
    height: 75px;
    font-size: 60px;
    margin-left: 12PX;
    justify-content: center;
    color: white;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    position: relative;
    top: 40px;
    margin-top: 40px;


}

.lineHeading {
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width:376px) {
    .line {
        position: relative;
        top: 135px;
        height: 45px;
        font-size: 40px;

    }
}

@media only screen and (min-width:377px) and (max-width:766px) {
    .line {
        height: 55px;
        font-size: 45px;

    }
}

@media only screen and (min-width:767px) and (max-width:1023px) {
    .line {
        height: 55px;
        font-size: 45px;

    }
}