/* Projects Section */
.projectPage {
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 70px;


}

.projectItems {
    width: 30%;
    box-sizing: border-box;
    padding: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 2px solid orangered;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.projectItems img {
    width: 100%;
    height: 200px;

}

.projectName {
    margin-top: 20px;
    font-size: 25px;
}

.projectDescription {
    margin-top: 5px;
    font-size: 17px;
    text-align: justify;

}

.projectBtn {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;



}

.sourceDemoBtn {
    background-color: orangered;
    border: 2px solid orangered;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 7px;

}
.sourceDemoBtn:hover {
    color: orangered;
    background-color: white;
    scale: 0.9;
    

}


@media only screen and (max-width:376px) {
    .projectPage {
        display: flex;
        flex-direction: column;
        top: 140px;



    }

    .projectItems {
        width: 96%;
        margin: auto;
        margin-top: 20px;


    }

    .projectItems img {
        width: 250px;
        height: 180px;

    }

    .projectName {
        font-size: 16px;
    }

    .projectDescription {
        margin-top: 13px;
        font-size: 15px;
        text-align: justify;

    }



    .sourceDemoBtn {
        font-size: 15px;
        padding: 5px;

    }

}

@media only screen and (min-width:377px) and (max-width:766px) {
    .projectPage {
        display: flex;
        flex-direction: column;
        top: 50px;



    }

    .projectItems {
        width: 80%;
        margin: auto;
        margin-top: 20px;


    }

    .projectItems img {
        width: 290px;
        height: 190px;

    }

    .projectName {
        font-size: 18px;
    }

    .projectDescription {
        margin-top: 20px;
        font-size: 15px;
        text-align: justify;

    }

    .sourceDemoBtn {
        font-size: 18px;
        padding: 7px;

    }
}

@media only screen and (min-width:767px) and (max-width:1023px) {

    .projectItems {
        width: 45%;
        margin-top: 20px;



    }

    .projectItems img {
        width: 300px;
        height: 200px;

    }

    .projectName {
        margin-top: 20px;
        font-size: 18px;

    }

    .projectDescription {
        margin-top: 15px;
        font-size: 18px;
        text-align: justify;

    }



    .sourceDemoBtn {
        font-size: 20px;
        padding: 7px;

    }
}